.DS_Store                     
main.fls                      
main.synctex.gz               
main.aux                      
main.log                      
main.fdb_latexmk                                
main.out